/* Page settings */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* Home Section */
.home {
  max-width: 1920px;
  width: 100%;
  min-height: 1022px;
  background-color: #d7d7d7;
  background-image: url("../images/bg_image_corrected.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  padding-top: 72px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

header img {
  max-width: 60px;
  min-height: 50px;
  padding: 0px 1.09px 0px 1.24px;
  text-align: left;
}

nav {
  display: flex;
  gap: 20px;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  align-items: right;
  justify-content: right;
  margin-right: 0px;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + nav {
  display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  nav a {
    display: none;
  }

  .home {
    background-image: url("../images/bg-mobile.png"); /* Change this to your mobile background image */
    background-size: cover;
  }

  .main-b img {
    display: none;
  }

  .main-b p {
    display: none;
  }
  header a img {
    display: none;
  }
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 637px;
  min-height: 46px;
  text-align: right;
  margin-right: 0px;
  flex-wrap: wrap;
}

nav a {
  max-width: 147px;
  min-height: 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.72px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

nav #contact-me {
  border: 4px solid #ffffff;
  border-radius: 30px;
  background-color: #ffffff;
  color: #000000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .main-a {
  max-width: 1000px;
  min-height: 500px;
  width: 50%;
  padding: 20px;
  text-align: left;
}

main .main-b {
  max-width: 1000px;
  min-height: 500px;
  width: 50%;
  padding: 20px;
  text-align: left;
  position: relative;
}
.home .box-a {
  max-width: 53.55px;
  min-height: 50px;

  margin-left: 273px;
}

.main-a h4 {
  max-width: 171px;
  min-height: 58px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: center;
}

.main-a h1 {
  max-width: 532px;
  min-height: 126px;
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 93.92px;
  text-align: center;
}

.main-a p {
  max-width: 426px;
  min-height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 29.35px;
  text-align: center;
  color: #909090;
}

.btn-group {
  display: flex;
  gap: 20px;
}

.main-a .btn {
  max-width: 61px;
  min-height: 40px;
  border-radius: 5px;
  background: #c4c4c4;
  border: 3px solid #c4c4c4;
  margin-top: 126px;
  box-shadow: 3px 3px 3px #c4c4c4;
  padding: 5px;
}

.main-b img {
  max-width: 783px;
  width: 100%;
  min-height: 877px;
}
.main-b p {
  max-width: 136px;
  min-height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  text-align: justified;
  z-index: 1;
  position: absolute;
  bottom: 25px;
  left: 331px;
  flex-wrap: nowrap;
}

/* IT Berries Section  */
.it-berries {
  max-width: 1920px;
  min-height: 313px;
  color: #ffffff;
  padding-left: 102px;
  padding-top: 54px;
  background: #1d1d1d url("../images/logo_itb.png") no-repeat right / 388.05px
    368.16px;
}

.it-berries h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.1854em;
  max-width: 363px;
  min-height: 63px;
  text-align: left;
}

.it-berries p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  line-height: 20.8px;
  width: 1148px;
  width: 100%;
  min-height: 89px;
  margin-bottom: 26px;
}

/* Styles for anchor tag in header */
.it-berries a {
  max-width: 139px;
  min-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  text-decoration: none;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  padding: 7px;
  color: #ffffff;
}

/* About Section */
.about {
  max-width: 1920px;
  min-height: 3017px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(26, 21, 21, 0) 0%,
    rgba(0, 0, 0, 0.16) 100%
  );
  text-align: center;
  padding-top: 142px;
  padding-bottom: 174px;
}

.about h3 {
  max-width: 404px;
  min-height: 107px;
  border: 8px solid #000000;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.4354em;
  margin-bottom: 75.52px;
}

.about p {
  font-family: "Open Sans", sans-serif;
  max-width: 763px;
  min-height: 47px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.8px;
  text-align: center;
  color: #050505;
  margin: 0 auto;
  margin-bottom: 67px;
}

.btn-explore {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  color: #000000;
  max-width: 139px;
  min-height: 32px;
}

.about .separator {
  display: block;
  max-width: 170px;
  min-height: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}

.service {
  max-width: 1066px;
  min-height: 373px;
  margin: 0 auto;
  text-align: center;
  margin-top: 108px;
  padding: 10px 0 20px 15px;
}

.service .design {
  max-width: 516px;
  min-height: 177px;
  display: inline-block;
  margin-bottom: 14px;
  margin-right: 67px;
}

.design h4 {
  max-width: 277px;
  min-height: 74px;
  background-image: url("../images/design.svg");
  background-repeat: no-repeat;
  background-size: 61px 64px;
  background-position: 5px 168px 5px 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  letter-spacing: 0.1854em;
  text-align: justify;
  padding: 20px 0 10px 35px;
}

.design p {
  max-width: 431px;
  min-height: 104px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justify;
}

.service .dev {
  max-width: 483px;
  min-height: 178px;
  display: inline-block;
  margin-bottom: 14px;
}
.dev h4 {
  max-width: 277px;
  min-height: 74px;
  background-image: url("../images/development.svg");
  background-repeat: no-repeat;
  background-size: 68.94px 70px;
  background-position: 5px 168px 5px 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  letter-spacing: 0.1854em;
  text-align: justify;
  padding: 20px 0 10px 35px;
}
.dev p {
  max-width: 431px;
  max-height: 104px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justify;
}

.service .maintenance {
  max-width: 487px;
  min-height: 182px;
  display: inline-block;
}

.maintenance h4 {
  min-width: 277px;
  min-height: 74px;
  background-image: url("../images/maintenance.svg");
  background-repeat: no-repeat;
  background-size: 80.21px 64px;
  background-position: 5px 168px 5px 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  letter-spacing: 0.1854em;
  text-align: justify;
  padding: 28px 0 10px 60px;
}

.maintenance p {
  max-width: 422px;
  min-height: 104px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justify;
}

.sep .separator {
  display: block;
  max-width: 170px;
  min-height: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}

#skill-separator {
  min-height: 12px;
  max-width: 170px;
  margin: 80px auto 120px auto;
}

#skills-header {
  max-width: 404px;
  min-height: 107px;
  margin: 0 auto;
  border: 8px solid #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.3554em;
  text-align: center;
  padding: 33px 0;
  margin-bottom: 96px;
}

.skills {
  max-width: 948.72px;
  min-height: 1396.4px;
  margin: 0 auto;
}

.skills #using-header,
.skills #learning-header,
.skills #other-header {
  max-width: 297.14px;
  min-height: 74px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.1854em;
  text-align: center;
  color: #000000;
  padding: 16px 0;
  margin-bottom: 79px;
  margin-top: 5px;
  margin-left: 100px;
}

.using,
.learning,
.other {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
}

.using img,
.learning img,
.other img {
  max-width: 240px;
  min-height: 169px;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .using,
  .learning,
  .other {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.item img {
  max-width: 240px;
  min-height: 169px;
}

.item p {
  max-width: 240px;
  min-height: 52px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  letter-spacing: 0.1354em;
  text-align: center;
  text-transform: uppercase;
}

#other-header {
  max-width: 297.14px;
}

/* Portfolio section */
.portfolio {
  max-width: 1920px;
  min-height: 1305px;
  background: #1a1a1a;
}

.portfolio .header {
  background-image: url("../images/portfolio_header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 107px;
  padding-bottom: 107px;
}

.header h3 {
  max-width: 482px;
  min-height: 107px;
  border: 8px solid #000000;
  margin: 0 auto;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 33px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.4354em;
}

.filterbar {
  max-width: 587px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  max-width: 149px;
  min-height: 48px;
  padding: 32px 20px 0px 20px;
  font-size: 16px;
  color: #7c7c7c;
  background-color: #1a1a1a;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
}
.all {
  color: #fffbfb;
  border-bottom: 2px solid #7c7c7c;
}
.filter:hover {
  border-bottom: 2px solid #7c7c7c;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
  max-width: 1920px;
  min-height: 802px;
  /* border: 2px solid #ffffff; */
  margin-top: 32px;
}

.gallery img {
  width: 100%;
  height: 100%;
  /* max-width: 640px;
  min-height: 400px; */
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.portfolio p {
  max-width: 294px;
  min-height: 48px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: center;
  margin: 33px auto;
  color: #fffbfb;
}

/* Contact section */
.contact {
  max-width: 1920px;
  min-height: 1178px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(26, 21, 21, 0) 0%,
    rgba(0, 0, 0, 0.16) 100%
  );
  padding-top: 158px;
  text-align: center;
}

.contact h3 {
  max-width: 367px;
  min-height: 107px;
  border: 8px solid #000000;
  margin: 0 auto;
  text-align: center;
  padding: 33px 0;
  margin-bottom: 76px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.3554em;
}

.contact p {
  max-width: 763px;
  min-height: 72px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  margin: 0 auto;
}

.contact #separator {
  max-width: 170px;
  min-height: 12px;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  max-width: 609px;
  width: 100%;
  min-height: 48px;
  border-left: 5px solid #000000;
  border-bottom: 5px solid #000000;
  border-top: none;
  border-right: none;
  margin: 53px auto;
  padding-top: 2px;
  padding-left: 14px;
  background-color: #1a1a1a00;
}

input::placeholder {
  max-width: 205px;
  min-height: 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8b8b8b;
}

input[type="textarea"] {
  min-height: 184px;
}

#submit {
  max-width: 197px;
  min-height: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 0.1em;
  text-align: center;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  border-bottom: none;
  text-align: center;
  padding: 10px 50px;
}

/* footer section */
footer {
  max-width: 1920px;
  min-height: 326px;
  background-color: #1a1a1a;
  text-align: center;
  color: #ffffff;
  padding-top: 69px;
}

a[href="#top"] {
  text-decoration: none;
  color: #ffffff;
  max-width: 188px;
  min-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.29px;
  letter-spacing: 0.1854em;
  text-align: center;
}

.social-handles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 44px auto;
}

footer #copyright {
  max-width: 350px;
  min-height: 22px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
  margin: 0 auto;
}

#copyright #rights {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
}
